:root {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@import "components/form";
